<nz-card style="width: 300px;margin-top: 16px" [nzActions]="[actionSetting, actionEdit]">
  <nz-skeleton [nzActive]="true" [nzLoading]="false" [nzAvatar]="{ size: 'large' }">
    <nz-card-meta [nzAvatar]="avatarTemplate" nzTitle="Card title" nzDescription="This is the description">
    </nz-card-meta>
  </nz-skeleton>
</nz-card>
<ng-template #avatarTemplate>
  <nz-avatar nzText="Card1"></nz-avatar>
</ng-template>
<ng-template #actionSetting>
  <i nz-icon type="setting"></i>
</ng-template>
<ng-template #actionEdit>
  <i nz-icon type="edit"></i>
</ng-template>
